@import '~bootstrap/scss/bootstrap';



body {
  background-color: black;
  //font-size: 16px;
}
p {
  font-family: vcr osd mono;
  color: #32CD32;
  display: inline-flex;
  padding: 20px;
  text-align: center;
  font-size: 16px;


}
.login {
  width: 25.5%;
  height: 10%;
  padding: 50px;
  margin: 10px;
  display: inline-block;







}
.CRUD {
  width: 25.5%;
  height: 10%;
  padding: 50px;
  float: left;
  display: inline-flex;
}
.box {

  background-color: black;
  border: 2px solid white;
  text-align: center;



  display: inline-flex;
  height: 110px;
  width: 400px;

}
.avg-num {
  color: red;
}

.user-message {
margin-right: 350px;

}

h1, h2 {
  font-family: vcr osd mono;
  color: #32CD32;
}
